---
interface Props {
  uniqueTags: string[];
  tag?: string;
}
const { uniqueTags, tag = "" } = Astro.props;

const tagUrl = (url: string) => {
  const prod_url = new URL(url, Astro.site);
  return prod_url.toString();
};
---

<nav class="bg-white dark:bg-gray-900 w-3/4 lg:w-1/2 mx-auto lg:pb-4">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="flex flex-col mt-4 bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:font-normal mkkd:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 mb-6"
      >
        {
          uniqueTags.map((t) => (
            <li>
              <a
                href={tagUrl(`tags/${t}`)}
                class={t === tag ? "highlight_tag" : "normal_tag"}
                aria-current="page"
              >
                {t}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>
