<section class="w-11/12 mx-auto mt-24 mb-16 lg:w-1/2">
  <ol class="relative border-l border-gray-200 dark:border-gray-700">
    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >September 2009</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Study in University(CUIT)
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Start university life in <a
          href="https://english.cuit.edu.cn/index.jsp"
          class="underline underline-offset-2 hover:text-purple-500">CUIT</a
        >, major in computer science and technology.
      </p>
    </li>
    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >July 2013</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Graduate and Start Career
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Graduate with bachelor of science in computer science and technology.
      </p>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Started my professional programmer career at the same time by joining a
        chinese e-commerce company(zhe800.com) as a Ruby developer, focus on
        backend development.
      </p>
    </li>
    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >February 2015</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        ThoughtWorks China
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        As a consultant works with different clients, take care of both feature
        delivery and training, the clients includes but not limited to Lenovo(3
        months), https://realestate.com.au(3 years) and Bulgari(6 months).
      </p>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Tech Stack: Ruby on Rails, AWS, Docker, Microservice, Agile
      </p>
    </li>
    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >June 2018</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        MYOB Melbourne
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Move to Melbourne, work as a senior developer in MYOB across multiple
        products, help deliver https://app.myob.com, build data
        platform(snowflake).
      </p>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Tech Stack: React, Node, OpenResty, AWS, K8S, Python
      </p>
    </li>
    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >September 2022</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Atlassian, Remote
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Joined Atlassian as a software engineer, worked on media(file) storage,
        scale, performance.
      </p>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Tech Stack: TypeScript, Node, AWS, Splunk
      </p>
    </li>
    <li class="ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >to be continue...</time
      >
    </li>
  </ol>
</section>
