<section
  class="w-11/12 mx-auto border lg:w-1/2 border-slate-700 dark:ring-1 dark:ring-white/10 dark:ring-inset"
>
  <img src="/images/feature_blog.png" alt="" />
  <section class="px-4 py-8 lg:pl-8 lg:pr-20">
    <h1 class="mt-6 text-3xl text-black dark:text-white">
      Hi! Nice to meet you.
    </h1>
    <p
      class="mt-8 leading-normal tracking-wide text-black dark:text-white selection:bg-purple-300 selection:text-amber-600"
    >
      I'm a full-stack programmer with 9+ years software developing experience,
      I'm passionate about Web Development, Data, BlockChain, Web3.
    </p>
    <p
      class="mt-8 leading-normal tracking-wide text-black dark:text-white selection:bg-purple-300 selection:text-amber-600"
    >
      While I'm not programming, you will find me gaming, or watching YouTube
      videos, my favourite pastime is just chill at home, I only travel when my
      mum has a place she want to go.
    </p>
    <p
      class="mt-8 leading-normal tracking-wide text-black dark:text-white selection:bg-purple-300 selection:text-amber-600"
    >
      Skills:
    </p>
    <ul class="mt-4 ml-4 list-disc dark:text-white">
      <li>Ruby && Elixir</li>
      <li>AWS</li>
      <li>K8S</li>
      <li>CI/CD</li>
      <li>Microservice Architecture</li>
      <li>Agile and Lean</li>
    </ul>
  </section>
</section>
