---
import Header from "../components/Header.astro";
import FeatureBlog from "../components/home/FeatureBlog.astro";
import SubscribeEmail from "../components/home/SubscribeEmail.astro";
import Blogs from "../components/home/Blogs.astro";
import AboutMe from "../components/home/AboutMe.astro";
import Footer from "../components/Footer.astro";

import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const pageTitle = "Edward Zhou";
---

<Layout title={pageTitle}>
  <Header page="home" />
  <!-- featured blog section -->
  <FeatureBlog />
  <!-- Subscribe email section -->
  <SubscribeEmail />
  <!-- blogs and about me section -->
  <section
    class="w-11/12 py-8 mx-auto border-b border-slate-700 dark:border-slate-100 lg:grid lg:grid-cols-3"
  >
    <!-- blogs -->
    <Blogs />
    <!-- about me -->
    <AboutMe />
  </section>
  <Footer />
  <script>
    import "../scripts/menu.js";
  </script>
</Layout>
