---
import FeatureBlog from "@components/home/FeatureBlog.astro";
import SubscribeEmail from "@components/home/SubscribeEmail.astro";
import Blogs from "@components/home/Blogs.astro";
import AboutMe from "@components/home/AboutMe.astro";

import Layout from "@layouts/Layout.astro";
import "../styles/global.css";

const allPosts = await Astro.glob("../pages/posts/*.mdx");
const latestPosts = allPosts
  .sort((a, b) =>
    a.frontmatter.publishDate > b.frontmatter.publishDate ? -1 : 1
  )
  .slice(0, 5);
const featured_blog = allPosts.filter((post) => post.frontmatter.featured)[0];

const pageTitle = "Edward Zhou";
const pageTab = "home";
---

<Layout title={pageTitle} pageTab={pageTab}>
  <!-- featured blog section -->
  <FeatureBlog blog={featured_blog} />
  <!-- Subscribe email section -->
  <SubscribeEmail />
  <!-- blogs and about me section -->
  <section
    class="w-11/12 py-8 mx-auto border-b border-slate-700 dark:border-slate-100 lg:grid lg:grid-cols-3"
  >
    <!-- blogs -->
    <Blogs blogs={latestPosts} />
    <!-- about me -->
    <AboutMe />
  </section>
  <script>
    import "../scripts/menu.js";
  </script>
</Layout>
