---
import Layout from "@layouts/Layout.astro";

const pageTitle = "my team";
const pageTab = "team";
---

<Layout title={pageTitle} pageTab={pageTab}>
  <section class="w-11/12 mx-auto lg:w-2/3">
    <h1 class="text-center">I'm building this page...</h1>
  </section>
</Layout>
