---
import type { Post } from "@type";
const { blogs } = Astro.props;
---

<section class="lg:border-r lg:col-span-2 border-slate-700">
  <div class="mx-auto lg:w-1/2">
    <p
      class="lg:tracking-[.5em] text-2xl mx-auto lg:mb-14 text-center lg:text-left"
    >
      TRAIN OF THOUGHT
    </p>
    {
      blogs.map((post: Post) => (
        <section class="p-4 border-0 lg:mb-10 lg:border border-slate-700">
          <div class="text-sm text-slate-700 dark:text-slate-400">
            <time class="mr-1">{post.frontmatter.publishDate}</time>
            <span class="mr-1 relative bottom-0.5 inline-block w-0.5 h-0.5 rounded-full bg-slate-400 dark:bg-slate-400" />
            <span>{post.frontmatter.timeToRead}</span>
          </div>
          <div class="hover:text-purple-500">
            <h1 class="mt-6 text-2xl hover:text-purple-500">
              {post.frontmatter.title}
            </h1>
            <p class="mt-4 text-slate-700 dark:text-slate-500">
              {post.frontmatter.description}
            </p>
          </div>
        </section>
      ))
    }
  </div>
</section>
