<footer class="pb-6 mx-auto lg:mt-20">
  <p class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
    © 2023 <a href="/" class="hover:underline">edwardzhou.com</a>. All Rights
    Reserved. built by <a href="https://astro.build/">Astro</a>
  </p>
</footer>
