<section
  class="w-11/12 py-2 mx-auto lg:mb-10 lg:mt-24 lg:py-14 border-y border-slate-700 dark:border-slate-100 lg:grid lg:grid-cols-3"
>
  <h1
    class="p-4 mx-auto font-serif text-3xl lg:w-1/2 lg:col-span-2 lg:text-4xl"
  >
    Never Miss a New Post.
  </h1>
  <div class="w-full ml-2">
    <label class="block text-slate-400" for="subscribe_email_input"
      >Enter your email *</label
    >
    <div>
      <input
        class="dark:bg-slate-900 w-72 px-0.5 border-0 border-b peer focus:ring-0 focus:border-purple-500 hover:border-purple-500 focus:border-b-2 invalid:border-red-500 invalid:border-b-2"
        type="email"
        id="subscribe_email_input"
      />
      <p class="absolute invisible text-pink-600 peer-invalid:visible">
        Please provide a valid email address.
      </p>
      <button class="h-10 mt-8 lg:ml-8 w-28 lg:mt-0 button">Subscribe</button>
    </div>
  </div>
</section>
