---
export interface Props {
  title: string;
  pageTab: string;
}

const { title, pageTab } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html class="{ 'dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="dark:bg-slate-900 dark:text-slate-400">
    <Header pageTab={pageTab} />
    <slot />
    <Footer />
    <script>
      function data() {
        function getThemeFromLocalStorage() {
          if (window.localStorage.getItem("dark")) {
            return JSON.parse(window.localStorage.getItem("dark"));
          }

          return (
            !!window.matchMedia &&
            window.matchMedia("(prefers-color-scheme: dark)").matches
          );
        }

        function setThemeToLocalStorage(value) {
          window.localStorage.setItem("dark", value);
        }

        return {
          dark: getThemeFromLocalStorage(),
          toggleTheme() {
            this.dark = !this.dark;
            setThemeToLocalStorage(this.dark);
          },
        };
      }
    </script>
  </body>
</html>
